.close {
    animation: close 150ms ease-in-out;
}

@keyframes close {
    0%{
        height: 160px;
    }
    100% {
        height: 0;
    }
}

.open {
    animation: open 150ms ease-in-out;
}

@keyframes open {
    0%{
        height: 0;
    }
    100% {
        height: 160px;
    }
}